/* Estilos para la tarjeta */
.card {
    /* Ancho */
    width: 20rem;
    /* Altura ajustada al contenido */
    height: fit-content;
    /* Sombra */
    box-shadow: 0px 0px 6px #00000029;
    /* Margen izquierdo */
    margin-left: 1rem;
    /* Color de fondo */
    background-color: white;
    /* Radio de borde */
    border-radius: 0.3rem;
    /* Relleno */
    padding: 1rem;
    /* Color de fondo */
    background-color: white;
}
