<div class="container">
    <section class="header verdana">
        <img src="../../../../assets/images/home.svg" alt="">
        <p>Ir al inicio</p>
    </section>
    <section class="title text-center t-white monserrat">
        <h3 class="bold m-0">¡Tu objetivo ha sido agregado exitosamente!</h3>
        <p class="m-0">¡Te hemos enviado un correo con la notificación!</p>
    </section>
    <section>
        <div class="card">
            <div class="flex items-between bold align-start">
                <div class="header-card">
                    <h3 class="bold">Conocer mi sobrino</h3>
                    <p class="t-14">Categoría: bienestar</p>
                </div>
                <p class="t-green-base underline bold m-0">Revisar objeto</p>
            </div>
            <div class="flex items-between align-start">
                <div class="card-item">
                    <p>
                        En esta fecha:
                    </p>
                    <p class="badge bg-blue-ligth">
                        Diciembre/2022
                    </p>
                </div>
                <div class="card-item ">
                    <p>
                        Lograrás:
                    </p>
                    <p class="badge bg-orange-ligth">
                        $6.000.000
                    </p>
                </div>
                <div class="card-item">
                    <p>
                        <img src="../../../../assets/images/Icon awesome-star.svg" alt="">
                        Ya cuentas con:
                    </p>
                    <p class="badge bg-green-ligth">
                        $0
                    </p>
                </div>
            </div>
            <div class="flex">
                <img src="../../../../assets/images/Icon awesome-check-circle.svg" alt="">
                <p class="underline t-green-base bold">
                    <a href="#products">!Asocia productos para monitorear su progreso! </a>
                 </p>
            </div>
        </div>
    </section>
</div>
