<div class="container" id="products">
    <section class="header text-center monserrat">
        <h3 class="bold">
            ¡Vamos por esos <span class="t-orange-base">$600.000.000</span> para <span class="t-orange-base">Conocer mi sobrino</span>!
        </h3>
        <p>
            ¡A traves de tus productos y nuestros rendimientos podemos lograrlo!
        </p>
        <div class="flex badge">
            <p class="bold">
                Asocia tus productos o adquiere uno nuevo
            </p>
            <img src="../../../../assets/images/Group12953.svg" alt="">
        </div>
    </section>
    <section class="carrousel">
        <app-card 
        *ngFor="let product of products"
        [product]="product"
        [style]="'transform: translateX('+transform+'rem);'"></app-card>
        <app-custom-card (open)="openSection()" [style]="'transform: translateX('+transform+'rem);'"></app-custom-card>
        <button [disabled]="disabledPrev" class="button prev" (click)="prevSlide()"><</button>
        <button [disabled]="disabledNext" class="button next" (click)="nextSlide()">></button>
    </section>

    <section class="associate-button-container">
        <button class="associate-button monserrat">ASOCIAR OBJETIVO</button>
    </section>
</div>