<div class="container">
    <div class="flex items-around">
        <div class="grid-container">
            <img class="logo" src="../../assets/images/logo.svg" alt="">
            <p class="bold">|</p>
            <p class="monserrat fit-text">
                Plan Financiero Digital - FPX
            </p>
        </div>
    
        <div class="grid-container">
            <img class="icon" src="../../assets/images/Happy.svg" alt="">
            <p class="verdana fit-text t-green-base bold underline t-19">
                Tu Financial Planner
            </p>
            <img class="icon" src="../../assets/images/hand3.svg" alt="">
            <p class="verdana fit-text t-green-base bold underline t-19">
                Aportes
            </p>
            <div class="flex question-logo">
                <img width="32" src="../../assets/images/questions.svg" alt="">
                <p class="verdana fit-text t-green-base bold underline t-14">Preguntas frecuentes</p>
            </div>
        </div>
    </div>
    
</div>