<div class="sidebar" [ngClass]="open ? 'open' : ''" (click)="openSideBar()">
    <div class="item-menu selected">
        <img src="../../../assets/images/home-1.svg" alt="">
        <p>Inicio</p>
    </div>
    <div class="item-menu">
        <img src="../../../assets/images/hoja1.svg" alt="">
        <p>Contratos</p>
    </div>
    <div class="item-menu">
        <img src="../../../assets/images/Tool.svg" alt="">
        <p>Acciones</p>
    </div>
    <div class="item-menu">
        <img src="../../../assets/images/star.svg" alt="">
        <p>Objetivos</p>
    </div>
    <div class="item-menu">
        <img src="../../../assets/images/money.svg" alt="">
        <p>Herramientas</p>
    </div>
    <div class="item-menu">
        <img src="../../../assets/images/talk2.svg" alt="">
        <p>Servicio al cliente</p>
    </div>
</div>