/* Definición de variables de color */
:root {
    --green-base: #00C83C; /* Verde base */
    --green-ligth: #95DBB7; /* Verde claro */
    --green: #A4D071; /* Verde */
    --gray: #E2E2E2; /* Gris */
    --blue-ligth: #A5D7E1; /* Azul claro */
    --blue-dark: #63AABC; /* Azul oscuro */
    --orange-light: #FECD72; /* Naranja claro */
    --orange-base: #FE9200; /* Naranja base */
    --orange: #FF9460; /* Naranja */
    --gray-light: #EDEDED; /* Gris claro */
}

/* Estilos generales del cuerpo del documento */
body {
    margin: 0px;
    color: #363636; /* Color de texto predeterminado */
}

/* Estilos de fuente Montserrat */
.monserrat {
    font-family: 'Montserrat';
}

/* Estilos de fuente Montserrat de tamaño 18 */
.m-18 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; 
    letter-spacing: 0;
    line-height: 23px; 
}

/* Estilos de fuente Verdana de tamaño 12 */
.v-12 {
    font-family: 'Verdana', sans-serif;
    font-size: 12px; 
    letter-spacing: 0;
    line-height: 18px; 
}

/* Estilos de fuente Verdana */
.verdana {
    font-family: Verdana;
}

/* Estilos de fondo verde claro */
.bg-green-ligth {
    background-color: var(--green-ligth);
}

/* Estilos de fondo azul claro */
.bg-blue-ligth {
    background-color: var(--blue-ligth);
}

/* Estilos de fondo naranja claro */
.bg-orange-ligth {
    background-color: var(--orange-light);
}

/* Estilos de flexbox */
.flex {
    display: flex;
}

/* Estilos de distribución espaciada */
.items-around {
    justify-content: space-around;
}

.items-between {
    justify-content: space-between;
}

/* Estilos de fuente en negrita */
.bold {
    font-weight: bold;
}

/* Estilos de fuente en mediano */
.medium {
    font-weight: medium;
}

/* Estilos de texto color verde base */
.t-green-base {
    color: var(--green-base);
}

/* Estilos de texto color blanco */
.t-white {
    color: white;
}

/* Estilos de texto color naranja base */
.t-orange-base {
    color: var(--orange-base);
}

/* Estilos de subrayado de texto */
.underline {
    text-decoration: underline;
}

/* Estilos de fuente de tamaño 14 */
.t-14 {
    font-size: 14px;
}

/* Estilos de fuente de tamaño 19 */
.t-19 {
    font-size: 19px;
}

/* Estilos de alineación de texto al centro */
.text-center {
    text-align: center;
}

/* Estilos de margen cero */
.m-0 {
    margin: unset;
}
