<div class="card">
    <img src="../../../../../assets/images/img_card.png" alt="">

    <section class="text-container monserrat">
        <p class="monserrat">
            ¡Fondo de inversión Colectiva, <span class="bold">la acción para potenciar tu capital y hacer real tu objetivo!</span>
        </p>
        <p class="t-green-base underline">
            Conoce más
        </p>
        <p>
            <img src="../../../../../assets/images/world.png" alt="">
            Rentabilidades mínimas del <span class="bold">3% anuales</span>
        </p>
        <p>
            <img src="../../../../../assets/images/profile.png" alt="">
            <span class="bold">4.000 clientes</span> confían en este producto
        </p>
    </section>
</div>  